.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: orchid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.MainScreen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1
}

.navigator{
  background-color: lightgrey;
  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}


.records{
  background-color: white;
  flex: 200;
  display: flex;
  flex-direction:column;
}

.leftmodal{
  background-color: white;
  flex: 200;
  /* display: flex; */
  flex-direction:row;
  justify-content: center;
  align-items: center;
  white-space: normal;
}

.escapeBtn{
  color: red;
  justify-content: right;
}

.header{
  justify-content: left;
}

.success{
  color: green;
}

.fail{
  color: red;
}
